body {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: black;
}

.days-grid, .dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  text-align: center;
}

.dates-grid div {
  min-height: 120px;
  max-width: 82px;
  border-top: 1px solid grey;
}

.date-cell {
  min-height: 120px;        /* Forces the cell to be at least 80px tall */
  max-width: 82px;
  display: flex;
  align-items: top; 
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid grey;
}
.date-cell p {
  background-color: #5e20f0;
  height: fit-content;
  width: 100%;
}
.month-header button {
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.today {
  background-color: none;
  font-weight: bold;
}

.selected {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  display: grid;
  place-content: left;
}


.month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#addDiv {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: row;
  gap: 20px;
  text-align: right;
  margin-top: 20px;
}
#addEvent {
  height: 30px;
  width: 40%;
  border-radius: 20px;
  padding-left: 10px;
  background-color: black;
  color: white;
  transition: width 0.15s, transform 0.15s;
}
#addEvent:focus {
  width: 65%;
  transform: translateX(-10vw);
}
#addEventBtn {
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 35px;
  background-color: darkslategrey;
  color: white;
}

nav {
  background: rgba(0, 0, 0, 0.5);
  height: 90vh;
  width: 30%;
  z-index: 2;
  border: 1px solid grey;
  position: absolute;
  transform: translateX(-100vw);
  transition: transform 0.15s;
  padding: 10px;
  margin: 0px;
}
nav * {
  margin: 0;
  padding: 0;
}
ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
ul img {
  width: 20px;
}
ul {
  list-style-type: none;
}
#navBtn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}